@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

@media only screen and (max-width: 700px) {
  * {
    font-size: 0.99rem;
  }
}
