@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto+Mono:wght@300;400&display=swap');
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
