@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500;1,700&family=Inter:wght@900&family=Roboto&display=swap');
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
